* {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    box-sizing: border-box;
  }

.ais-ClearRefinements { margin: 1em; }
.ais-Pagination { margin-top: 1em; }

.left-panel { float: left; width: 23%;}
.right-panel {
    width: 74%;
    margin-left: 26%;
  }
.ais-InstantSearch { max-width: 960px; overflow: scroll; position: relative; margin: 0 auto; }
.ais-Hits-item { margin-bottom: 1em; margin-top: 1em; width: calc(50% - 1rem); }
.ais-Hits-item img { margin-right: 1em; }
.hit-face { margin-bottom: 0.5em; }
.hit-action { margin-bottom: 0.5em; }
.hit-file { color: #000; font-size: 14px; margin-bottom: 0.2em; }
.hit-frame { color: #000; font-size: 14px; margin-bottom: 0.2em; }
.hit-timestamp { color: #000; font-size: 14px; margin-bottom: 0.2em; }
.hit-filelen { color: #888; font-size: 14px; margin-bottom: 0.2em; }
.hit-fps { color: #888; font-size: 14px; margin-bottom: 0.2em; }

#sort-by {margin-left: 500px;}
#hits{margin-top: auto;}

    